pandas==1.3.5
trino==0.322.0
sqlalchemy==1.4.46
urllib3==1.26.14
pyspark==3.1.3
apache-airflow==2.7.0
apache-airflow-providers-common-sql
apache-airflow-providers-trino
apache-airflow-providers-apache-spark
